body{
    background-color: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.navigation-bar{
    height: 69px;
    border-bottom: 1px solid seashell;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}

.logo-container{
    display: inline-flex;
    align-content: center;
    justify-content: flex-start;
}

.logo{
    height: 50px;
}

p, h1, h2, h3, h4 ,h5, a{
    color: seashell;
    font-family: helvetica, arial, sans-serif;
    text-align: center;
}

a{
    text-decoration: underline;
    color: seashell;
}

.navigation{
    display: inline-flex;
    justify-content: flex-end;
    text-align: right;
}

li, ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline-flex;
    text-align: right;
    padding-left: 5px;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Images/img-mission-background.webp");
    background-position: center;
    box-sizing: border-box;
    margin: 0 25px 0 25px;
    height: 700px;
    background-size: cover;
}
.mission{
    background-color: rgba(0, 0, 0, 0.9);
    width: 1200px;
    height: fit-content;
    flex-shrink: 2;
}


p{
    font-size: 22px;
}

.featured{
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.featured-content{
    width: 1000px;
    display: inline-flex;
    flex-direction: column;
    flex-grow: 2;
}

.thumbnails{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tea{
    width: 300px;
    margin: 10px 10px;
}

.tea img{
    width: 300px;
    height: 200px;
}

.tea p{
    padding: 0;
    margin: 10px 0 0 0;
}

.location{
    background-image: url("Images/img-locations-background.webp");
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    margin: 0 25px 0 25px;
    padding: 25px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.location h2{
    margin:0;
}
.location-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.location-lists{
    background-color: rgb(0, 0, 0);
    width: 300px;
    margin: 15px 20px;
}
.copyright{
    padding: 20px;
    text-align: left;
}